<%- include('partials/header') -%>

<div class="category-page">
  <div class="h-100 p-5 pt-4 pb-4 mb-4 bg-white border rounded-3 row category-jumbo">
    <div class="col-sm-12 col-lg-5 p-2 category-left">
      <h2><%=category.name%></h2>
      <p><%=category.description%></p>
    </div>
    <div class="col-sm-12 col-lg-4 text-end category-right">
      <img src="/images/<%=category.image%>" alt="category-image" height="220px">
    </div>
  </div> 

  <div class="row">
    <% sauces.forEach( function(sauce) { %>
      <div class="col-sm-12 col-lg-4 mt-4 p-0">
      <div class="h-100 p-4 m-1 border alert-box">
        <h5 class="alert-heading text-center"><%= sauce.name %></h5>
        <hr>
        <p><%= sauce.description %> <span class="text-muted"> | Date: <%= sauce.date %></span></p>
        <audio class="audio-box" controls>
          <source src="<%= sauce.link %>">
        </audio>      
      </div> 
      </div>
    <% }); %>
  </div>
</div>

<%- include('partials/footer') -%>
