<%- include('partials/header') -%>    

<!-- HOME -->
<div class="home">
</div>  
<!-- SHOW -->
  <div class="shows">
        <h4>TOP SHOWS</h4>

        <div class="row shows-box mt-3">
          <% let random = [0,5,1]; %>
          <% random.forEach(function(num) { %>
            <div class="card col-sm-12 col-lg-3">
                <img src="<%= show[num].image %>" alt="<%= show[num].name %> Image" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-quote-right fa-xs"></i>&nbsp; <%= show[num].name %> </h5>
                  <hr class="design">
                  <p class="card-text"> <%= show[num].description %> </p>
                </div>
              </div>
          <% }); %>   
        </div>
    </div>

<!-- PODCAST -->
  <div class="podcast"> 
    <h4>PODCASTS</h4>

    <div class="row pod-box">

      <div class="col-sm-12 col-lg-6 pod-box-img">
        <img src="https://ucarecdn.com/017eab1a-3b19-468d-ac24-8ff00fbe5319/podcast.png" alt="Podcast image" class="col-11">
      </div>

      <div class="col-sm-12 col-lg-6">

        <% for(var i=0; i<3; i++) { %>
        <div class="card">
          <div class="card-body">

            <div class="row">

              <div class="col-sm-12 col-lg-2 p-0">
                <img src="<%= podcasts[i].image %>" alt="<%= podcasts[i].name %> Image">
              </div>

              <div class="col-sm-12 col-lg-10 ps-2 pe-4 pt-1 pod-box-des">
                <% let description = podcasts[i].description.substring(0, 95) + " ..."; %>
                <span class="text-start"><p id="desc-text-<%= podcasts[i].name %>" ><%= description %></p></span>
                <footer class="blockquote-footer text-end">Podcast by <cite title="Source Title"><%= podcasts[i].name %></cite></footer>  
              </div>
            
            </div>

          </div>
        </div>
        <script>
          if (window.matchMedia("(max-width: 568px)").matches) {
            document.getElementById("desc-text-<%= podcasts[i].name %>").innerHTML = document.getElementById("desc-text-<%= podcasts[i].name %>").innerHTML.substring(0, 60) + " ...";
          }
        </script>
        <% } %>

      </div>

    </div>
  </div>

<!-- ABOUT -->
  <div class="about">
    <h4>About</h4>

    <div class="container-fluid about-content">
      <div class="row">
        <div class="col-sm-12 col-lg-2 pt-1">
          <a title="JIMS, VK" href="https://www.jimsd.org/" target="_blank" rel="noopener"><img src="https://ucarecdn.com/eac25a1e-5e3e-4af1-af55-ae82bf2fa183/jimslogo.png" alt="JIMS Logo"></a>
        </div>
        <div class="col-sm-12 col-lg-10 ps-1">
          <p class="text-justify mt-3 mb-2">JIMS Vasant Kunj, affiliated to Guru Gobind Singh Indraprastha University, Dwarka is the first college of the university to have launched a community radio station. It provides a platform for dialogue and discussion amongst community, students and faculty. And now it's available online, so you can stream motivational, wellness, educational, and other shows from wherever you are.</p>
        </div>
      </div>
     
      <br>
      <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What does Community Radio provide ?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Radio JIMS 90.4 MHz</strong> provides voice to the voiceless by addressing problems of social and economic empowerment faced by the community. The content of the programmers is designed and developed by the students and community members themselves.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              What does Community Radio do ? 
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>RADIO JIMS 90.4 MHz</strong>  actively collaborates with voluntary organizations such as Rotaract club & DART (Delhi Achievers Round Table Conference). The nature of the partnership is to make the community aware about their rights and duties in the context of the changing environment. This partnership focuses on program excellence that leads to social mobilization and community empowerment.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>  