<%- include('partials/header') -%> 

<!-- PODCAST BANNER -->
<div class="podcast-page-banner">
  <video muted autoplay loop>
    <source src="/videos/podcast-vid.mp4#t=4" type="video/mp4" />
  </video>
  <div class="w-100 podcast-page-heading">
    <h4 class="m-0">PODCAST</h4>
  </div>
</div>

<!-- PODCAST HERE -->
<div class="podcast-box">
  <div class="row">
    
    <% for(var i=0; i<podcast.length; i++) { %>

      <div class="card col-sm-12 col-lg-2">
        <div class="card-img-top">
          <img src="images/<%= podcast[i].image %>" />
        </div>
        <div class="card-body pt-1">
          <div class="card-title"><%= podcast[i].name %> </div>
        </div>
      </div>
      <div class="card col-sm-12 col-lg-4">
        <p class="ps-1 pe-1"> <%= podcast[i].description %> </p>
        <audio controls class="mx-auto mb-3">
          <source src="/podcasts/<%= podcast[i].link %>" type="audio/mpeg" />
        </audio>
      </div>

      <span class="space-sm"></span>

      <% if(i%2!=0 && i!=0) { %>
        <div class="m-3"></div>
      <% } %>

    <% } %>
  </div>
</div>

<script>
  document.querySelector("video").playbackRate = 1.5;
</script>

<%- include('partials/footer') -%> 