<%- include('header') -%>  

<!-- SHOWS BANNER -->
<div class="show-page-banner">
    <video muted autoplay loop>
        <source src="/videos/shows-vid.mp4" type="video/mp4">
    </video>
    <div class="w-100 show-page-heading">
        <h4>SHOWS</h4>
    </div>
</div>

<!-- All Shows -->
<div class="all-shows-box">

    <!-- Quotes -->
    <div class="row">
        <div class="col-sm-12 col-lg-5">

            <div class="card">
                <img src="/images/show-quote.jpeg" class="card-img-top" alt="quotes-image">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-quote-right fa-xs"></i>&nbsp; Quotes</h5>
                  <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-lg-5 audio-scroll-box">

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Believe In Yourself</h5>
                <hr>
                <p>The inspirational story about one's faith and belief - Gautam Buddha.</p>
                <audio controls >
                    <source src="/audios/quote-1.mp3" type="audio/mpeg">
                </audio>
            </div>

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <audio controls>
                    <source src="/audios/quote-2.mp3" type="audio/mpeg">
                </audio>
            </div>
          
            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <audio controls>
                    <source src="/audios/quote-3.mp3" type="audio/mpeg">
                </audio>
            </div>
    
        </div>
    </div>

    <hr>

    <!-- Educational -->
    <div class="row">
        <div class="col-sm-12 col-lg-5">

            <div class="card">
                <img src="/images/show-educational.jpeg" class="card-img-top" alt="quotes-image">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-book-reader fa-xs"></i>&nbsp; Educational</h5>
                  <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-lg-5 audio-scroll-box">

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante eu arcu mollis semper. </p>
                <audio controls>
                    <source src="/audios/" type="audio/mpeg">
                </audio>
            </div>

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante eu arcu mollis semper. </p>
                <audio controls>
                    <source src="/audios/" type="audio/mpeg">
                </audio>
            </div>
          
            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante eu arcu mollis semper. </p>
                <audio controls>
                    <source src="/audios/" type="audio/mpeg">
                </audio>
            </div>
    
        </div>
    </div>

    <hr>

    <!-- Motivational -->
    <div class="row">
        <div class="col-sm-12 col-lg-5">

            <div class="card">
                <img src="/images/show-motivational.jpeg" class="card-img-top" alt="quotes-image">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-fist-raised fa-xs"></i>&nbsp; Motivational</h5>
                  <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-lg-5 audio-scroll-box">

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante eu arcu mollis semper. </p>
                <audio controls>
                    <source src="/audios/" type="audio/mpeg">
                </audio>
            </div>

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante eu arcu mollis semper. </p>
                <audio controls>
                    <source src="/audios/" type="audio/mpeg">
                </audio>
            </div>
          
            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante eu arcu mollis semper. </p>
                <audio controls>
                    <source src="/audios/" type="audio/mpeg">
                </audio>
            </div>
    
        </div>
    </div>

    <hr>

    <!-- Other Shows -->
    <div class="row">
        <div class="col-sm-12 col-lg-5">

            <div class="card">
                <img src="/images/show-other.jpg" class="card-img-top" alt="quotes-image">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-bars"></i>&nbsp; Other Shows</h5>
                  <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-lg-5 audio-scroll-box">

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante eu arcu mollis semper. </p>
                <audio controls>
                    <source src="/audios/" type="audio/mpeg">
                </audio>
            </div>

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante eu arcu mollis semper. </p>
                <audio controls>
                    <source src="/audios/" type="audio/mpeg">
                </audio>
            </div>
          
            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Lorem ipsum</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante eu arcu mollis semper. </p>
                <audio controls>
                    <source src="/audios/" type="audio/mpeg">
                </audio>
            </div>
    
        </div>
    </div>

     <!-- Database Test -->

    <% show.forEach( function(showList) { %>
 
     <hr>
     <div class="row">
        <div class="col-sm-12 col-lg-5">

            <div class="card">
                <img src="/images/show-other.jpg" class="card-img-top" alt="quotes-image">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-bars"></i>&nbsp; <%= showList.name %></h5>
                  <hr>
                  <p class="card-text"> <%= showList.description %> </p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-lg-5 audio-scroll-box">

            <% let count = 0; %>
            <% sauce.forEach( function(sauceList) { %>
              
                <% if(sauceList.code === showList.code && count < 3) { %>

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading"> <%= sauceList.name %> </h5>
                <hr>
                <p> <%= sauceList.description %> </p>
                <audio controls>
                    <source src="<%= sauceList.link %>" type="audio/mpeg">
                </audio>
            </div>

                <% count++; %>

            <% }  }); %>
    
            <div class="alert alert-light" role="alert">
                <a class="view-more" href="/category/<%=showList.name%>">View more</a>
            </div>

        </div>
    </div>

    <% }); %>
    
</div>

<%- include('footer') -%>  
    