<%- include('partials/header') -%>  

<!-- SHOWS BANNER -->
<div class="show-page-banner">
    <video muted autoplay loop>
        <source src="/videos/shows-vid.webm#t=1.5" type="video/webm">
    </video>
    <div class="w-100 show-page-heading">
        <h4 class="m-0">SHOWS</h4>
    </div>
</div>

<!-- All Shows -->
<div class="all-shows-box">           

     <!-- Database Test -->

    <% let flag = 0; %>
    <% show.forEach( function(showList) { %>
     <% if(flag != 0) { %>
        <hr>
     <% } %>
 
     <div class="row">
        <div class="col-sm-12 col-lg-5">

            <div class="card cover-card">
                <img src="<%= showList.cover %>" class="card-img-top" alt="<%= showList.name %> Image" height="300px">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-microphone-alt"></i>&nbsp; <%= showList.name %></h5>
                  <hr>
                  <p class="card-text"> <%= showList.description %> </p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-lg-5 audio-scroll-box">

            <% let count = 0; %>
            <% sauce.forEach( function(sauceList) { %>
              
                <% if(sauceList.code === showList.code && count < 3) { %>

            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading pt-1"> <%= sauceList.name %> </h5>
                <hr >
                <p> <%= sauceList.description %> </p>
                <audio controls class="w-100 mx-auto">
                    <source src="<%= sauceList.link %>" type="audio/mpeg">
                </audio>
            </div>

                <% count++; %>

            <% }  }); %>
    
            <div class="alert alert-light" role="alert">
                <a class="view-more" href="/category/<%= showList.name %>">View more</a>
            </div>

        </div>
    </div>

    <% flag = 1; %>
    <% }); %>
    
</div>

<%- include('partials/footer') -%>  
    